<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="headline"><%= link_to article.title, article_path(article) %></h1>

  <footer>
    <time datetime="<%= article.created_at.to_datetime.to_s %>" itemprop="datePublished"><%= article.published_at.strftime('%d.%m.%Y - %H:%m') %></time>
    <%- if article.author.homepage.present? -%>
      <%= link_to article.author.name, article.author.homepage, itemprop: 'author' %>
    <%- else -%>
      <span itemprop="author"><%= article.author.name %></span>
    <%- end -%>
    <meta itemprop="url" content="<%= article_url(article) %>">
  </footer>

  <div itemprop="articleBody">
    <%- if defined? teaser-%>
      <%= article.teaser_html.html_safe %>
    <%- else -%>
      <%= article.html.html_safe %>
    <%- end -%>
  </div>
</article>
