<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="headline">
    <%= tag :img, src: article.image if article.image.present? %>
    <%= link_to article.title, article_path(article) %>
  </h1>

  <footer>
    <time datetime="<%= article.created_at.to_datetime.to_s %>" itemprop="datePublished"><%= article.published_at.strftime('%d.%m.%Y - %H:%M') %></time>
    <%- if article.author.homepage.present? -%>
      <%= link_to article.author.name, article.author.homepage, itemprop: 'author' %>
    <%- else -%>
      <span itemprop="author"><%= article.author.name %></span>
    <%- end -%>
    <meta itemprop="url" content="<%= article_url(article) %>">
  </footer>

  <div itemprop="articleBody">
    <%- if defined? teaser-%>
      <%= article.teaser_html.html_safe %>
      <%= link_to 'Read more', article_path(article) if article.teaser_html != article.html %>
    <%- else -%>
      <%= article.html.html_safe %>
    <%- end -%>
  </div>

  <%- unless defined? teaser-%>
    <div class="article-info">
      <%- if article.tags.present? -%>
        <strong>Tags:</strong>
        <ul class="tags">
          <%- article.tags.each do |tag| %>
            <li><%= link_to tag.name, tag_path(tag) %></li>
          <%- end -%>
        </ul>
      <%- end -%>

      <%- if current_user -%>
        <%= form_for Tag.new, html: { class: 'tag-form' } do |f| %>
          <%= hidden_field_tag :article_id, article.id -%>
          <%= f.text_field :name, placeholder: '+ add new tag' -%>

        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
</article>
