
<%= render 'show', :article => @article %>

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
    var disqus_shortname = 'jaz-lounge',
        dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<%- content_for :secondary do -%>
  <div class="article-info">
    <ul class="tags">
      <%- @article.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <%- end -%>
    </ul>

    <%- if current_user -%>
      <%= form_for Tag.new, html: { class: 'tag-form' } do |f| %>
        <%= hidden_field_tag :article_id, @article.id -%>
        <%= f.text_field :name, placeholder: '+ add new tag' -%>

      <%- end -%>
    <%- end -%>
  </div>
<%- end -%>
