
<%= render 'show', :article => @article %>

<%- content_for :secondary do -%>
  <div class="article-info">
    <ul>
      <%- @article.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <%- end -%>
    </ul>

    <%- if current_user -%>
      <%= form_for Tag.new do |f| %>
        <%= hidden_field_tag :article_id, @article.id -%>
        <%= f.text_field :name, placeholder: 'tag name' -%>

      <%- end -%>
    <%- end -%>
  </div>
<%- end -%>
