<!DOCTYPE html>
<html>
<head>
  <title>Penpaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= @open_graph.render if @open_graph.present? %>
</head>
<body>
  <div class="container">
    <% if flash[:success] %>
      <p class="flash-success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="flash-alert"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash-warning"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </div>

  <footer class="page-footer">
    <div class="container">
      <p>A Website by <a href="http://jaz-lounge.com">Georg Tavonius</a></p>
      <ul class="footer-menu">
        <li><strong>Blog</strong></li>
        <li><%= link_to 'Startpage', root_path %></li>
        <li><%= link_to 'Archive', list_articles_path %></li>
      </ul>
      <ul class="footer-menu">
        <li><strong>User</strong></li>
        <%- if current_user -%>
          <%- if @article.present? -%>
            <li><%= link_to 'Edit this post', edit_article_path(@article) %></li>
          <%- end -%>
          <li><%= link_to 'Write a post', new_article_path %></li>
          <li><%= link_to 'Logout', session_path(:id => current_user.id), :method => 'delete' %></li>
        <%- else -%>
          <li><%= link_to 'Login', new_session_path %></li>
        <%- end -%>
      </ul>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
  <%= render 'layouts/google_analytics' %>
</body>
</html>
