<!DOCTYPE html>
<html>
<head>
  <title>Penpaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% if flash[:success] %>
      <p class="flash-success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash-alert"><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash-warning"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
