<!DOCTYPE html>
<html>
<head>
  <title>Penpaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% if flash[:success] %>
      <p class="flash-success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="flash-alert"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash-warning"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
    <div class="secondary">
      <%= yield :secondary %>
    </div>
  </div>

  <footer>
    <ul class="footer-menu">
      <li><%= link_to 'Startpage', root_path %></li>
      <%- if current_user -%>
        <li><%= link_to 'Write a post', new_article_path %></li>
        <li><%= link_to 'Logout', session_path(:id => current_user.id), :method => 'delete' %></li>
      <%- else -%>
        <li><%= link_to 'Login', new_session_path %></li>
      <%- end -%>
    </ul>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
